:root {
    --main-color: #D2B4DE;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding-left: 30rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2C3E50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
}

header .logo {
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-weight: bolder;

}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}